.custom-style
  width:10px
  > ::ng-deep span > ::ng-deep.test-class
    color : #375E3C
    font-size: xxx-large


.board-score-content
  display: flex
  flex-direction:   row

.style-to-define
  text-align: center
  margin-right: 30px
  display: flex

  .square-marked
    background-size: 30px
    width: 25px
    height: 25px
    margin-right: 10px

  .square-broken
    background-size: 30px
    width: 25px
    height: 25px
    margin-right: 10px
