<div class="board-score-content" *ngLet="(boardScoreStateObservable |async) as boardScore">
  <fa-icon [icon]="faPlayCircle" size="4x" [styles]="{'color': '#8AEB97'}" (click)="handlerRestartEvent()"></fa-icon>
  <countdown #cd [config]="prettyConfig" (event)="handleCountdownEvent($event)" class="custom-style"></countdown>
  <p *ngIf="boardScore.win" >You Win</p>
  <p *ngIf="boardScore.lose" >You Lose</p>
  <div class="style-to-define-content">
    <div class="style-to-define">
      <p>number of flags available</p>
      <label>{{boardScore.availableMarks}}</label>
    </div>

    <div class="style-to-define">
      <p>number of mines</p>
      <label>{{boardScore.installedMines}}</label>
    </div>
  </div>
</div>
