$cursor: pointer
$square-size: 60px

.square-base
  height: $square-size
  width: $square-size
  border-width: 2px
  border-style: outset
  border-color: buttonface
  box-sizing: border-box
  margin: 0em
  border-radius: 20% 20%

.square-clickable
  cursor: $cursor

.square-open
  background:  linear-gradient(#EB442A, #EBC1BB)
  color: black

.square-closed
  background-color: #D0EA2B


.square-broken
  background: url("/assets/icons/mine.ico") no-repeat center , linear-gradient(#EB442A, #EBC1BB)
  background-size: $square-size

.square-mine
  background-color: #D0EA2B

.square-marked
  background: url("/assets/icons/flag.ico") no-repeat center , linear-gradient(orange, yellow)
  background-size: $square-size


